<!-- Data Table #Start-->
<div fxLayout="column" fxLayoutAlign="start stretch" fxFlex.lg="100" fxHide="false" fxHide.xs>
    <ngx-datatable class="material" [columnMode]="'force'" [headerHeight]="50 " [footerHeight]="50 " [rowHeight]="43" [scrollbarV]="false "
        [scrollbarH]="true " [rows]="listapprove" [limit]="10 ">
        <!--<ngx-datatable-column [flexGrow]="1">
            <template ngx-datatable-header-template>
                <div class="header">#</div>
            </template>
            <template ngx-datatable-cell-template let-row="row" let-value="value">
                <div style="text-align: center; ">
                    {{row.$$index+1}}
                </div>
            </template>
        </ngx-datatable-column>-->
        <ngx-datatable-column [width]="110" [minWidth]="110" prop="StartDatePlan">
            <template ngx-datatable-header-template>
                <div style="text-align: center; font-weight: bold; ">{{'EvaluateDate' | translate}}</div>
            </template>
            <template ngx-datatable-cell-template let-row="row" let-value="value">
                <div style="text-align: center; ">
                    01/Jan/06
                </div>
            </template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]="205" [minWidth]="205">
            <template ngx-datatable-header-template>
                <div style="text-align: center; font-weight: bold; ">{{'Name' | translate}}</div>
            </template>
            <template ngx-datatable-cell-template let-row="row " let-value="value ">
                <div style="text-align: left; ">
                    {{row['name_language'][Lang]}}
                </div>
            </template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]="115" [minWidth]="115" prop="ProjectCode">
            <template ngx-datatable-header-template>
                <div style="text-align: center; font-weight: bold; ">{{'Project Code' | translate}}</div>
            </template>
            <template ngx-datatable-cell-template let-row="row" let-value="value">
                <div style="text-align: center; ">
                    {{value}}
                </div>
            </template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]="196" [minWidth]="196" prop="Role">
            <template ngx-datatable-header-template>
                <div style="text-align: center; font-weight: bold; ">{{'Role' | translate}}</div>
            </template>
            <template ngx-datatable-cell-template let-row="row" let-value="value">
                <div style="text-align: center; ">
                    {{value}}
                </div>
            </template>
        </ngx-datatable-column>
        <!--<ngx-datatable-column [flexGrow]="5" prop="StartDatePlan">
            <template ngx-datatable-header-template>
                <div style="text-align: center; font-weight: bold; ">{{'Duration' | translate}}</div>
            </template>
            <template ngx-datatable-cell-template let-row="row" let-value="value">
                <div style="text-align: center; ">
                    {{value+"-"+row.FinishDatePlan}}
                </div>
            </template>
        </ngx-datatable-column> -->
        <ngx-datatable-column [width]="115" [minWidth]="115">
            <template ngx-datatable-header-template>
                <div style="text-align: center; font-weight: bold ">{{'Status' | translate}}</div>
            </template>
            <template ngx-datatable-cell-template let-row="row" let-value="value">
                <div style="text-align: center; ">
                    <button md-icon-button style="color:darkorange;" [md-tooltip]="wait|translate" [tooltip-position]="position">
                        <md-icon>rotate_right</md-icon>
                    </button>
                    <!--<button *ngIf="row.ST == 1" md-icon-button md-button-sm style="color: green" [md-tooltip]="st" [tooltip-position]="position">
                        <md-icon>radio_button_checked</md-icon>
                    </button>
                    <button *ngIf="row.ST == 0" md-icon-button md-button-sm style="color: red" [md-tooltip]="st" [tooltip-position]="position">
                        <md-icon>radio_button_checked</md-icon>
                    </button>
                    <button *ngIf="row.PM == 1" md-icon-button md-button-sm style="color: green" [md-tooltip]="pm" [tooltip-position]="position">
                        <md-icon>radio_button_checked</md-icon>
                    </button>
                    <button *ngIf="row.PM == 0" md-icon-button md-button-sm style="color: red" [md-tooltip]="pm" [tooltip-position]="position">
                        <md-icon>radio_button_checked</md-icon>
                    </button>
                    <button *ngIf="row.GM == 1" md-icon-button md-button-sm style="color: green" [md-tooltip]="gm" [tooltip-position]="position">
                        <md-icon>radio_button_checked</md-icon>
                    </button>
                    <button *ngIf="row.GM == 0" md-icon-button md-button-sm style="color: red" [md-tooltip]="gm" [tooltip-position]="position">
                        <md-icon>radio_button_checked</md-icon>
                    </button>
                    <button *ngIf="row.HR == 1" md-icon-button md-button-sm style="color: green" [md-tooltip]="hrd" [tooltip-position]="position">
                        <md-icon>radio_button_checked</md-icon>
                    </button>
                    <button *ngIf="row.HR == 0" md-icon-button md-button-sm style="color: red" [md-tooltip]="hrd" [tooltip-position]="position">
                        <md-icon>radio_button_checked</md-icon>
                    </button> -->
                    <!--<md-progress-bar mode="determinate" [value]="progress" color="primary" class="mb-1"></md-progress-bar>-->
                </div>
            </template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]="48" [minWidth]="48">
            <!--<template ngx-datatable-header-template>
                <div style="text-align: center; font-weight: bold ">{{'Detail' | translate}}</div>
            </template>-->
            <template ngx-datatable-cell-template let-row="row" let-value="value">
                <div style="text-align: center; ">
                    <button md-icon-button md-button-sm [md-tooltip]="detail|translate" [tooltip-position]="position" (click)="passEvaId($event, value, row)">
                        <md-icon>description</md-icon>
                    </button>
                </div>
            </template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>
<div fxLayout="column" fxLayoutAlign="start stretch" fxFlex.lg="100" fxShow="false" fxShow.xs>
    <ngx-datatable class='material' [columnMode]="'force'" [headerHeight]="0" [footerHeight]="70" [rowHeight]="'auto'" [scrollbarH]="true"
        [limit]="4" [rows]='listapprove'>
        <ngx-datatable-column [width]="230" [minWidth]="230">
            <template ngx-datatable-cell-template let-row="row" let-value="value">
                <div fxLayout="column" fxLayoutAlign="start">
                    <span><b>{{'Date' | translate}}</b> 01/Jan/06</span>
                    <span><b>{{'Name' | translate}}</b> {{row['name_language'][Lang]}}</span>
                    <span><b>{{'Project Code' | translate}}</b> {{row['ProjectCode']}}</span>
                    <span><b>{{'Role' | translate}}</b> {{row['ProjectCode']}}</span>
                    <div fxLayout="row" fxLayoutAlign="start stretch">
                        <div>
                            <span><b>{{'Status' | translate}}</b></span>
                        </div>
                        <div>
                            <button md-icon-button md-button-sm style="color:darkorange;" [md-tooltip]="wait|translate" [tooltip-position]="position">
                                <md-icon>rotate_right</md-icon>
                            </button>
                        </div>
                    </div>
                    <!-- <span><b>{{'Duration' | translate}}</b> {{listeva[row.$$index]['StartDatePlan']+"-"+listeva[row.$$index]['FinishDatePlan']}}</span> -->
                </div>
            </template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]="50" [minWidth]="50">
            <template ngx-datatable-cell-template let-row="row" let-value="value">
                <div style="float: left; " fxLayout="column" fxLayoutAlign="end">
                    <button md-icon-button md-button-sm [md-tooltip]="detail | translate" [tooltip-position]="position" (click)="passEvaId($event, value, row)">
                        <md-icon>description</md-icon>
                    </button>
                </div>
            </template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>
<!-- Data Table #End-->