<md-card *ngIf="showList == 1">
    <md-card-title style="font-size : 24px ">{{'History' | translate}}</md-card-title>
    <hr>
    <md-card-content>
        <app-historylist (outEvaId)=getEvaId($event)></app-historylist>
    </md-card-content>
    <hr>
</md-card>
<!-- <app-historydetail></app-historydetail> -->
<md-card *ngIf="showList == 2">
    <md-card-title style="font-size : 24px ">{{'Detail' | translate}}</md-card-title>
    <hr>
    <md-card-content>
        <app-historydetail [EvaId]="EvaId" (back)="back($event)"></app-historydetail>
    </md-card-content>
    <hr>
</md-card>