<!-- Data Table #Start-->
<div fxLayout="column" fxLayoutAlign="start stretch" style="width: 70vw; background-color:white; padding:30px; border-radius:5px">
    <div fxLayout="row" fxLayoutAlign="end start">
        <button md-icon-button md-button-sm (click)="dialogRef.close('cancel')" tabindex="-1 ">
        <md-icon>close</md-icon>
    </button>
    </div>
    <ngx-datatable class="material " [columnMode]=" 'force' " [headerHeight]="50 " [footerHeight]="0 " [rowHeight]="43
    " [scrollbarV]="false " [scrollbarH]="true " [rows]="listhistory " [limit]="4 ">
        <ngx-datatable-column [width]="240" [minWidth]="240">
            <template ngx-datatable-header-template>
                <div style="text-align: center; font-weight: bold; ">{{'Name' | translate}}</div>
            </template>
            <template ngx-datatable-cell-template let-row="row " let-value="value ">
                <div *ngIf="row['Role'] != 'Group Manager'" style="text-align: left; ">
                    {{row['Name'][Lang]}}
                </div>
                <div fxLayout="row" *ngIf="row['Role'] == 'Group Manager' && (row['Name'][Lang] == '' || Edit==1)" style="text-align: left; ">
                    <div>
                        <md-select [(ngModel)]="GM" style="width: 190px;">
                            <md-option [value]="row.EmployeeNo">
                                {{row['Name'][Lang]}}
                            </md-option>
                            <md-option *ngFor="let data of gmlist" [value]="data.EmployeeNo">
                                {{data['Name'][Lang]}}
                            </md-option>
                        </md-select>
                    </div>
                    <div style="margin-top:5px; color:green">
                        <button md-icon-button md-button-sm (click)="changeGM()">
                            <md-icon>done</md-icon>
                        </button>
                    </div>
                </div>
                <div fxLayout="row" *ngIf="row['Role'] == 'Group Manager' && row['Name'][Lang] != '' && Edit==0" style="text-align: left; ">
                    <div>
                        {{row['Name'][Lang]}}
                    </div>
                    <div style="margin-top:-3px">
                        <button md-icon-button md-button-sm (click)="modeEdit()">
                            <md-icon>edit</md-icon>
                        </button>
                    </div>
                </div>

            </template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]="194 " [minWidth]="194 ">
            <template ngx-datatable-header-template>
                <div style="text-align: center; font-weight: bold; ">{{'Role' | translate}}</div>
            </template>
            <template ngx-datatable-cell-template let-row="row " let-value="value ">
                <div style="text-align: left; ">
                    {{row['Role']}}
                </div>
            </template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]="120 " [minWidth]="120 " prop="StartDatePlan ">
            <template ngx-datatable-header-template>
                <div style="text-align: center; font-weight: bold; ">{{'ApproveDate' | translate}}</div>
            </template>
            <template ngx-datatable-cell-template let-row="row " let-value="value ">
                <div style="text-align: center; ">
                    {{row['Date']}}
                </div>
            </template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]="115 " [minWidth]="115 ">
            <template ngx-datatable-header-template>
                <div style="text-align: center; font-weight: bold ">{{'Status' | translate}}</div>
            </template>
            <template ngx-datatable-cell-template let-row="row " let-value="value ">
                <div fxLayout="row " fxLayoutAlign="center center ">
                    <md-icon class="hand" *ngIf="row[ 'Status']==1 " style="color:green; " [md-tooltip]=" 'Approved'|translate
    " [tooltip-position]="position ">done</md-icon>
                    <md-icon class="hand" *ngIf="row[ 'Status']==0 " style="color:darkorange; " [md-tooltip]=" 'Waiting'|translate
    " [tooltip-position]="position ">rotate_right</md-icon>
                    <md-icon class="hand" *ngIf="row[ 'Status']==-1" style="color:red; " [md-tooltip]="
    'Rejected'|translate " [tooltip-position]="position ">close</md-icon>
                </div>
            </template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>
<!-- Data Table #End-->