<md-card>
    <md-card-title style="font-size : 24px ">{{'Evaluation' | translate}} Manage Header</md-card-title>
    <hr>
    <md-card-content>
        <div fxLayout="row" fxLayoutAlign="start center" class="mb-1">
            <md-select class="ml-1 mt-1" placeholder="Period" [(ngModel)]="currentPosition" style="width: 23%;">
                <md-option *ngFor="let role of position" [value]="role.Part2ID">
                    {{ role.Function }}
                </md-option>
            </md-select>
            <button md-raised-button type="button" color="primary" type="button" class="mt-1 ml-1 mb-1" (click)="onSubmit(currentPosition) ">OK</button>
            <button *ngIf="flagCreate==false" (click)="openDialogHead(0,currentPosition,1,-1)" md-icon-button>
                <md-icon>add</md-icon>
            </button>
        </div>
        <!-- Table -->
        <md-card>
            <md-tab-group [(selectedIndex)]="activeTabIndex ">
                <div *ngFor="let head of header; let k=i ndex ">
                    <div *ngIf="head.H_Level==1 ">
                        <md-tab>
                            <template md-tab-label>{{head.Alias}}</template>
                            <md-card-content>
                                <div fxLayout="row " fxLayoutAlign="start center " class="ml-1 ">
                                    <p style="font-size: 19px; ">{{head.Text+"( "+head.Text_Eng+") "}}</p>
                                    <button md-icon-button *ngIf="flagAdd[k]==false" (click)="openDialogHead(head.H_ID,currentPosition,2,k)">
                                        <md-icon>add</md-icon>
                                    </button>
                                </div>
                                <hr>
                                <div fxLayoutAlign="start center " fxFlex="100 " style="margin-top: 8px; margin-bottom: 8px; ">
                                    <div fxFlex="100 " align="center " style="font-weight: bold; ">Topic</div>
                                </div>
                                <hr>
                                <div *ngFor="let head2 of header; let i=index ">
                                    <div *ngIf=" head2.H_Level==2 && head2.Parent==head.H_ID ">
                                        <div fxLayout="row " fxLayoutAlign="start center ">
                                            <div>
                                                <button *ngIf="flag[i]==false " (click)="callflag(i) " md-icon-button>
                                                    <md-icon>add_circle_outline</md-icon>
                                                </button>
                                                <button *ngIf="flag[i]==true " (click)="callflag(i) " md-icon-button>
                                                    <md-icon>remove_circle_outline</md-icon>
                                                </button>
                                            </div>
                                            <div>{{head2.Text+"( "+head2.Text_Eng+") "}}</div>
                                        </div>
                                        <div fxLayout="row " fxLayoutAlign="start center " style="margin-left: 5% ">
                                            <div *ngIf="flag[i]==true ">
                                                <div *ngFor="let head3 of header; let j=index; " fxLayout="row ">
                                                    <div *ngIf=" head3.H_Level==3 && head3.Parent==head2.H_ID " fxLayout="row " style="margin-top: 10px; ">
                                                        <div>{{">> "+head3.Text}}</div>
                                                    </div>
                                                </div>
                                                <div fxLayout="row " fxLayoutAlign="start center " fxFlex="100 ">
                                                    <div *ngIf="flagAdd[i]==false " (click)="openDialogHead(head2.H_ID,currentPosition,3,i) " fxFlex="10 ">
                                                        <button md-icon-button>
                                                            <md-icon>add</md-icon>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div div fxLayout="row " fxLayoutAlign="space-between end ">
                                    <div>
                                        <button *ngIf="activeTabIndex>= 1" md-icon-button class="ml-1" (click)="passScore(false)">
                                            <md-icon>arrow_back</md-icon>
                                        </button>
                                    </div>
                                    <div style="margin-right: 10%;">
                                        <div style="margin-left: 100%;">
                                            <button *ngIf="activeTabIndex < countHeader-1" md-icon-button class="ml-1" (click)="passScore(true)">
                                                <md-icon>arrow_forward</md-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </md-card-content>
                        </md-tab>
                    </div>
                </div>
            </md-tab-group>
        </md-card>
    </md-card-content>
    <hr>
</md-card>
