<md-card>
    <md-card-title style="font-size : 24px ">{{'Manage Topic' | translate}}</md-card-title>
    <hr>
    <md-card-content>
        <div fxLayout="row" fxLayoutWrap="wrap">
            <div fxFlex.gt-sm="27" fxFlex.gt-xs="30" fxFlex="100" fxLayout="row">
                <div fxFlex="100">
                    <div fxLayoutWrap="wrap" fxLayout="row" fxLayoutAlign="start center">
                        <md-select class="ml-1 mr-1 mt-2" placeholder="{{'Role' | translate}}" [(ngModel)]="currentPosition" style="width: 100%;">
                            <md-option *ngFor="let role of position" [value]="role.Part2ID">
                                {{ role.Function }}
                            </md-option>
                        </md-select>
                    </div>
                </div>
            </div>
            <div fxFlex.gt-sm="17" fxFlex.gt-xs="17" fxFlex="100" fxLayout="row" class="mr-1">
                <div fxFlex="100" fxLayout="row">
                    <div fxLayoutWrap="wrap" fxLayout="row" fxLayoutAlign="start center">
                        <button class="ml-1 mt-1" md-raised-button md-button-sm type="button" color="primary" type="button" (click)="onSubmit(currentPosition) ">{{'OK' | translate}}</button>
                    </div>
                    <div fxLayoutWrap="wrap" fxLayout="row" class="mt-1">
                        <button (click)="openDialogHead(0,currentPosition,1,-1)" md-icon-button [md-tooltip]="addtopic " [tooltip-position]="point ">
                    <md-icon>add</md-icon>
                </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Table -->
        <md-card>
            <md-tab-group [(selectedIndex)]="activeTabIndex">
                <div *ngFor="let head of header; let k = index">
                    <div *ngIf="head.H_Level==1">
                        <md-tab>
                            <template md-tab-label>{{head['Text_Language'][Lang]}}</template>
                            <div fxLayout="row " fxLayoutAlign="start center" class="ml-2 mt-1">
                                <div fxLayout.gt-xs="row" fxLayout.gt-sm="column">
                                    <div style="font-size: 19px; ">{{head['Text_Language'][Lang]}}</div>
                                </div>
                                <div>
                                    <button md-icon-button (click)="openDialogHead(head.H_ID,currentPosition,2,k)" [md-tooltip]="adddetail " [tooltip-position]="point ">
                                        <md-icon>add</md-icon>
                                    </button>
                                    <button md-icon-button (click)=" delete(head.H_ID,k,head['Text_Language'][Lang])" [md-tooltip]="remove|translate" [tooltip-position]="point ">
                                        <md-icon>delete_forever</md-icon>
                                    </button>
                                </div>
                            </div>
                            <hr>
                            <div fxFlex="100" fxLayout="row" class="mt-1 mb-1">
                                <div fxFlex="70">
                                    <div fxLayoutWrap="wrap" fxLayout="row" style="margin-left: 50%">
                                        <b>{{'Topic'|translate}}</b>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <md-card-content>
                                <div *ngFor="let head2 of header; let i=index">
                                    <div *ngIf=" head2.H_Level==2 && head2.Parent==head.H_ID">
                                        <div fxFlex="100" fxLayout="row" fxLayoutAlign="start start">
                                            <div fxFlex="5">
                                                <div fxLayoutWrap="wrap " fxLayout="row " style="margin-top: -3px; ">
                                                    <button *ngIf="flag[i]==false " (click)="callflag(i) " md-icon-button md-button-sm>
                                                        <md-icon>add_circle_outline</md-icon>
                                                    </button>
                                                    <button *ngIf="flag[i]==true " (click)="callflag(i) " md-icon-button md-button-sm>
                                                        <md-icon>remove_circle_outline</md-icon>
                                                    </button>
                                                </div>
                                            </div>
                                            <div fxFlex="64 ">
                                                <div fxLayoutWrap="wrap " fxLayout="row " style="margin-left: 15px; ">
                                                    {{head2['Text_Language'][Lang]}}
                                                </div>
                                            </div>
                                            <div fxFlex="30">
                                                <div fxLayout="row " fxLayoutWrap="wrap" style="margin-left: 40% " fxLayout.xs="column ">
                                                    <div style="margin-top: -3px; ">
                                                        <button *ngIf="flag[i]==false" md-icon-button md-button-sm (click)="delete(head2.H_ID,i,head2['Text_Language'][Lang]) " [md-tooltip]="remove|translate"
                                                            [tooltip-position]="point ">
                                                            <md-icon>delete_forever</md-icon>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="flag[i]==true ">
                                            <div *ngFor="let head3 of header; let j=index;">
                                                <div *ngIf=" head3.H_Level==3 && head3.Parent==head2.H_ID " fxFlex="100" fxLayout="row " fxLayoutAlign="start start " class="ml-1">
                                                    <div fxFlex="5" style="margin-top: -2px; ">
                                                        <md-icon>play_arrow</md-icon>
                                                    </div>
                                                    <div fxFlex="64">
                                                        <div fxLayoutWrap="wrap " fxLayout="row " style="margin-left: 15px ">
                                                            {{head3['Text_Language'][Lang]}}
                                                        </div>
                                                    </div>
                                                    <div fxFlex="30">
                                                        <div fxLayoutWrap="wrap " fxLayout="row " style="margin-left: 43% ">
                                                            <div>
                                                                <button md-icon-button md-button-sm (click)=" delete(head3.H_ID,j,head3['Text_Language'][Lang]) " [md-tooltip]="remove|translate"
                                                                    [tooltip-position]="point " tabindex="-1 ">
                                                                    <md-icon>delete_forever</md-icon>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div fxLayout="row " fxLayoutAlign="start center " fxFlex="100 ">
                                                <div fxFlex="10 " class="ml-1">
                                                    <button md-icon-button md-button-sm (click)="openDialogHead(head2.H_ID,currentPosition,3,i) ">
                                                        <md-icon>add</md-icon>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div fxLayout="row " fxLayoutAlign="space-between end ">
                                    <div>
                                        <button *ngIf="activeTabIndex>= 1" md-icon-button class="ml-1" (click)="passScore(false)">
                                            <md-icon>arrow_back</md-icon>
                                        </button>
                                    </div>
                                    <div style="margin-right: 10%;">
                                        <div style="margin-left: 100%;">
                                            <button *ngIf="activeTabIndex < countHeader-1" md-icon-button class="ml-1" (click)="passScore(true)">
                                                <md-icon>arrow_forward</md-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </md-card-content>
                        </md-tab>
                    </div>
                </div>
            </md-tab-group>
        </md-card>
    </md-card-content>
    <hr>
</md-card>