<!-- Data Table #Start-->
<div fxLayout="column" fxLayoutAlign="start stretch" fxFlex.lg="100" fxHide="false" fxHide.xs>
    <ngx-datatable class="material" [columnMode]="'force'" [headerHeight]="50 " [footerHeight]="50 " [rowHeight]="43" [scrollbarV]="false "
        [scrollbarH]="true " [rows]="listhistory" [limit]="10 ">
        <!--<ngx-datatable-column [width]="48" [minWidth]="48">
            <template ngx-datatable-header-template>
                <div class="header">#</div>
            </template>
            <template ngx-datatable-cell-template let-row="row" let-value="value">
                <div style="text-align: center; ">
                    {{row.$$index+1}}
                </div>
            </template>
        </ngx-datatable-column>-->
        <ngx-datatable-column [width]="205" [minWidth]="205">
            <template ngx-datatable-header-template>
                <div style="text-align: center; font-weight: bold; ">{{'Name' | translate}}</div>
            </template>
            <template ngx-datatable-cell-template let-row="row " let-value="value ">
                <div style="text-align: left; ">
                    {{row['name_language'][Lang]}}
                </div>
            </template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]="115" [minWidth]="115" prop="ProjectCode">
            <template ngx-datatable-header-template>
                <div style="text-align: center; font-weight: bold; ">{{'Project Code' | translate}}</div>
            </template>
            <template ngx-datatable-cell-template let-row="row" let-value="value">
                <div style="text-align: center; ">
                    {{value}}
                </div>
            </template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]="194" [minWidth]="194" prop="Role">
            <template ngx-datatable-header-template>
                <div style="text-align: center; font-weight: bold; ">{{'Role' | translate}}</div>
            </template>
            <template ngx-datatable-cell-template let-row="row " let-value="value ">
                <div style="text-align: left; ">
                    {{value}}
                </div>
            </template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]="120" [minWidth]="120" prop="StartDatePlan">
            <template ngx-datatable-header-template>
                <div style="text-align: center; font-weight: bold; ">{{'CreateDate' | translate}}</div>
            </template>
            <template ngx-datatable-cell-template let-row="row" let-value="value">
                <div style="text-align: center; ">
                    {{row['Date']}}
                </div>
            </template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]="48" [minWidth]="48">
            <template ngx-datatable-header-template>
                <div style="text-align: center; font-weight: bold ">{{'Status' | translate}}</div>
            </template>
            <template ngx-datatable-cell-template let-row="row" let-value="value">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <!--<button *ngIf="row.ApproveState == 0" md-raised-button md-button-sm color="primary"> {{'Approved' | translate}} </button>
                    <button *ngIf="row.ApproveState == -1" md-raised-button md-button-sm color="warn"> Rejected </button>
                    <div>
                        <md-progress-bar style="width: 88px; height:30px; margin-top: 20%; border-radius: 3px" *ngIf="row.ApproveState == 1" mode="determinate"
                            [value]="progress[row.$$index]" color="primary" class="mb-1"></md-progress-bar>
                    </div>-->
                    <button *ngIf="row.ApproveState == 2" md-icon-button md-button-sm style="color:green;" [md-tooltip]="approve|translate" [tooltip-position]="position"
                        (click)="Openflow(row['EvaID'])">
                        <md-icon>done</md-icon>
                    </button>
                    <button *ngIf="row.ApproveState == -1" md-icon-button md-button-sm style="color:red;" [md-tooltip]="reject|translate" [tooltip-position]="position"
                        (click)="Openflow(row['EvaID'])">
                        <md-icon>close</md-icon>
                    </button>
                    <button *ngIf="row.ApproveState == 1" md-icon-button md-button-sm style="color:darkorange;" [md-tooltip]="wait|translate"
                        [tooltip-position]="position" (click)="Openflow(row['EvaID'])">
                        <md-icon>rotate_right</md-icon>
                    </button>
                </div>
            </template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]="90" [minWidth]="90">
            <!--<template ngx-datatable-header-template>
                <div style="text-align: center; font-weight: bold ">{{'Detail' | translate}}</div>
            </template>-->
            <template ngx-datatable-cell-template let-row="row" let-value="value">
                <div style="text-align: left; ">
                    <button md-icon-button md-button-sm [md-tooltip]="detail|translate" [tooltip-position]="position" (click)="passEvaId($event, value, row)">
                        <md-icon>description</md-icon>
                    </button>
                </div>
            </template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>
<div fxLayout="column" fxLayoutAlign="start stretch" fxFlex.lg="100" fxShow="false" fxShow.xs>
    <ngx-datatable class='material' [columnMode]="'force'" [headerHeight]="0" [footerHeight]="70" [rowHeight]="'auto'" [scrollbarH]="true"
        [limit]="4" [rows]='listhistory'>
        <ngx-datatable-column [width]="230" [minWidth]="230">
            <template ngx-datatable-cell-template let-row="row" let-value="value">
                <div fxLayout="column" fxLayoutAlign="start">
                    <span><b>{{'Date' | translate}}</b> 01/Jan/06</span>
                    <span><b>{{'Name' | translate}}</b> {{row['name_language'][Lang]}}</span>
                    <span><b>{{'Project Code' | translate}}</b> {{row['ProjectCode']}}</span>
                    <span><b>{{'Role' | translate}}</b> {{row['Role']}}</span>
                    <div fxLayout="row" fxLayoutAlign="start stretch">
                        <div class="mr-1">
                            <span><b>{{'Status' | translate}}</b></span>
                        </div>
                        <div>
                            <button *ngIf="row.ApproveState == 0" md-raised-button md-button-sm color="primary"> {{'Approved' | translate}} </button>
                            <button *ngIf="row.ApproveState == -1" md-raised-button md-button-sm color="warn"> Rejected </button>
                            <md-progress-bar style="width: 88px; height:30px; border-radius: 3px" *ngIf="row.ApproveState == 1" mode="determinate" [value]="progress[row.$$index]"
                                color="primary" class="mb-1"></md-progress-bar>
                        </div>
                    </div>
                </div>
            </template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]="50" [minWidth]="50">
            <template ngx-datatable-cell-template let-row="row" let-value="value">
                <div style="float: left; " fxLayout="column" fxLayoutAlign="end">
                    <button md-icon-button md-button-sm [md-tooltip]="detail | translate" [tooltip-position]="position" (click)="passEvaId($event, value, row)">
                        <md-icon>description</md-icon>
                    </button>
                </div>
            </template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>
<!-- Data Table #End-->