<!-- Data Table #Start-->
<div fxLayout="column" fxLayoutAlign="start stretch" fxFlex.lg="100" fxHide="false" fxHide.xs>
    <ngx-datatable class="material" [columnMode]="'flex'" [headerHeight]="50 " [footerHeight]="50 " [rowHeight]="43" [scrollbarV]="false "
        [scrollbarH]="true " [rows]="listhistory" [limit]="10 ">
        <ngx-datatable-column [flexGrow]="1">
            <template ngx-datatable-header-template>
                <div class="header">#</div>
            </template>
            <template ngx-datatable-cell-template let-row="row" let-value="value">
                <div style="text-align: center; ">
                    {{row.$$index+1}}
                </div>
            </template>
        </ngx-datatable-column>
        <ngx-datatable-column [flexGrow]="7" prop="Name">
            <template ngx-datatable-header-template>
                <div style="text-align: center; font-weight: bold; ">{{'Name' | translate}}</div>
            </template>
            <template ngx-datatable-cell-template let-row="row " let-value="value ">
                <div style="text-align: left; ">
                    {{value}}
                </div>
            </template>
        </ngx-datatable-column>
        <ngx-datatable-column [flexGrow]="4" prop="ProjectCode">
            <template ngx-datatable-header-template>
                <div style="text-align: center; font-weight: bold; ">{{'Project Code' | translate}}</div>
            </template>
            <template ngx-datatable-cell-template let-row="row" let-value="value">
                <div style="text-align: center; ">
                    {{value}}
                </div>
            </template>
        </ngx-datatable-column>
        <ngx-datatable-column [flexGrow]="5" prop="Role">
            <template ngx-datatable-header-template>
                <div style="text-align: center; font-weight: bold; ">{{'Role' | translate}}</div>
            </template>
            <template ngx-datatable-cell-template let-row="row " let-value="value ">
                <div style="text-align: left; ">
                    {{value}}
                </div>
            </template>
        </ngx-datatable-column>
        <ngx-datatable-column [flexGrow]="5">
            <template ngx-datatable-header-template>
                <div style="text-align: center; font-weight: bold ">State</div>
            </template>
            <template ngx-datatable-cell-template let-row="row" let-value="value">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <button *ngIf="row.ApproveState == 0" md-raised-button md-button-sm color="primary"> Approved </button>
                    <button *ngIf="row.ApproveState == -1" md-raised-button md-button-sm color="warn"> Rejected </button>
                    <div>
                        <md-progress-bar style="width: 90px; height:30px; margin-top: 20%; border-radius: 5px" *ngIf="row.ApproveState == 1" mode="determinate"
                            [value]="progress[row.$$index]" color="primary" class="mb-1"></md-progress-bar>
                    </div>
                </div>
            </template>
        </ngx-datatable-column>
        <ngx-datatable-column [flexGrow]="3">
            <template ngx-datatable-header-template>
                <div style="text-align: center; font-weight: bold ">detail</div>
            </template>
            <template ngx-datatable-cell-template let-row="row" let-value="value">
                <div style="text-align: center; ">
                    <button md-icon-button md-button-sm [md-tooltip]="detail" [tooltip-position]="position" (click)="passEvaId($event, value, row)">
                        <md-icon>description</md-icon>
                    </button>
                </div>
            </template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>
<div fxLayout="column" fxLayoutAlign="start stretch" fxFlex.lg="100" fxShow="false" fxShow.xs>
    <ngx-datatable class='material' [columnMode]="'force'" [headerHeight]="0" [footerHeight]="70" [rowHeight]="'auto'" [scrollbarH]="true"
        [limit]="4" [rows]='listhistory'>
        <ngx-datatable-column [width]="230" [minWidth]="230">
            <template ngx-datatable-cell-template let-row="row" let-value="value">
                <div fxLayout="column" fxLayoutAlign="start">
                    <span><b>{{'Name' | translate}}</b> {{listhistory[row.$$index]['Name']}}</span>
                    <span><b>{{'Project Code' | translate}}</b> {{listhistory[row.$$index]['ProjectCode']}}</span>
                    <span><b>{{'Role' | translate}}</b> {{listhistory[row.$$index]['Role']}}</span>
                </div>
            </template>
        </ngx-datatable-column>
        <ngx-datatable-column [width]="50" [minWidth]="50">
            <template ngx-datatable-cell-template let-row="row" let-value="value">
                <div style="float: left; " fxLayout="column" fxLayoutAlign="end">
                    <button md-icon-button md-button-sm [md-tooltip]="detail" [tooltip-position]="position" (click)="passEvaId($event, value, row)">
                        <md-icon>description</md-icon>
                    </button>
                </div>
            </template>
        </ngx-datatable-column>
    </ngx-datatable>
</div>
<!-- Data Table #End-->