.header {
    background-color: #faffff;
    border: solid #fafafa 1px;
    height: 45px;
    border-radius: 3px;
}

.detail {
    background-color: #78C9F1;
    border: solid #fafafa 1px;
    height: 45px;
    border-radius: 3px;
}

.all {
    border: solid #fafafa 1px;
    border-radius: 3px;
}

input {
    background-color: white;
}
