.header {
    background-color: #EFF1FF;
    border: solid #fafafa 1px;
    height: 45px;
    border-radius: 3px;
}

.detail {
    background-color: #3f51b5;
    border: solid #fafafa 1px;
    color:#fafafa;
    height: 45px;
    border-radius: 3px;
}

.all {
    border: solid #fafafa 1px;
    border-radius: 3px;
}

input {
    background-color: white;
}
