<button md-icon-button><md-icon>add_circle_outline</md-icon></button> 
<ngx-datatable
          class="material mt-1"
          [columnMode]="'flex'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="auto"
          [scrollbarV]="false"
          [scrollbarH]="true"
          [rows]="data"
          [limit]="10">
          <ngx-datatable-column name="No." [flexGrow]="1">
               <template ngx-datatable-cell-template let-row="row" let-value="value">
                 <div fxLayout="row" fxLayoutAlign=" center" >
                    {{row.$$index+1}}
                 </div>
               </template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Text" [flexGrow]="5" prop="Text"></ngx-datatable-column>
          <ngx-datatable-column name="Text_Eng" [flexGrow]="5" prop="Text_Eng"></ngx-datatable-column>
          <ngx-datatable-column name="Action" [flexGrow]="3">
               <template ngx-datatable-cell-template let-row="row" let-value="value">
                    <div fxLayout="row" fxLayoutAlign=" center" >
                      <button md-icon-button (click)="passId($event, value, row)"><md-icon>description</md-icon></button>
                      <button md-icon-button><md-icon>create</md-icon></button>
                      <button md-icon-button ><md-icon>delete_forever</md-icon></button>
                    </div>
               </template>
          </ngx-datatable-column>
</ngx-datatable>  
