<!--<ngx-datatable class="material" [columnMode]="'flex'" [headerHeight]="50 " [footerHeight]="50 " [rowHeight]="43" [scrollbarV]="false " [scrollbarH]="true " [rows]="data" [limit]="10 ">
        <ngx-datatable-column [flexGrow]="1" prop="name">
            <template ngx-datatable-header-template>
                <div class="header">Name</div>
            </template>
            <template ngx-datatable-cell-template let-row="row" let-value="value">
                <div style="text-align: center; ">
                    {{value}}
                </div>
            </template>
        </ngx-datatable-column>
        <ngx-datatable-column [flexGrow]="1">
            <template ngx-datatable-header-template>
                <div class="header">#</div>
            </template>
            <template ngx-datatable-cell-template let-row="row" let-value="value">
                <div style="text-align: center; ">
                    <md-progress-bar mode="determinate" [(ngModel)]="progress[row.$$index]" color="primary" class="mb-1"></md-progress-bar>
                </div>
            </template>
        </ngx-datatable-column>
</ngx-datatable>-->
