.header {
    background-color: #faffff;
    border: solid #fafafa 1px;
    height: 45px;
}

.detail {
    background-color: #95E86B;
    border: solid #fafafa 1px;
    height: 45px;
}

.all {
    border: solid #fafafa 1px;
}

input {
    background-color: white;
}
